/node_modules
/public/hot
/public/storage
/public/css/
/public/js/
/public/mix-manifest.json
/resources/views/vendor/mail/html/themes/default.css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
